$base_color: #00b7ff;
$base_color_hover: #00a2ff;
$base_color_orange: #FE9D2B;
$base_color_yellow: #F1C40F;
$base_color_ripple: #ffffff20;
$base_color_blue: #0A398C;
$grey_color: #838383;
$grey_two_color: #acacac;
$grey_three_color: #bbbbbb;
$grey_four_color: #e2e2e2;
$dark_grey_color: #707070;
$light_grey_zero_color: #e0e0e0;
$light_grey_color: #f8f8f8;
$light_grey_opacity_color: #f8f8f875;
$light_color: #eeeeee;
$dark_black_color: #000000;
$black_color: #333333;
$white_color: #fff;
$blue_color: #2749ef;
$yellow_color: #ffa319;
$green_color: #367733;
$purple_color: #c86cc5;
$blue_color_opacity: rgba($color: #2749ef, $alpha: .5);
$yellow_color_opacity: rgba($color: #ffa319, $alpha: .5);
$green_color_opacity: rgba($color: #367733, $alpha: .5);
$purple_color_opacity: rgba($color: #c86cc5, $alpha: .5);
$red_color_opacity: rgba($color: #ec1c2a, $alpha: .5);
$facebook_color: #093480;
$twitter_color: #55acee;
$instagram_color: #9950af;
$youtube_color: #ef432f;
$linkedin_color: #0077b5;
$whatsapp_color: #2cb742;

$font_circular: Circular, sans-serif;
$font_roboto: Roboto, sans-serif;
$font_gotham: Gotham, sans-serif;
$font_arial: Arial, sans-serif;

$hamburger-padding-x: 5px !default;
$hamburger-padding-y: 5px !default;
$hamburger-layer-width: 35px !default;
$hamburger-layer-height: 5px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: $base_color_orange !default;
$hamburger-layer-border-radius: 5px !default;
$hamburger-hover-opacity: 0.9 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;